body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('header.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}
.theHeader {
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.nutriPicture {
    margin-left: -5px;
}
.nutriPicture img {
    max-width: 40px;
    height: auto;
}
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
.theHeader ul li {
    margin-right: 50px;
}
.theHeader a {
    text-decoration: none;
    color: #000;
}
#logo {
    color: #91c789;
    font-size: 35px;
    margin-right: 10px;
}

#loginPåEksisterende{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    height: 100%;
    border: 3px solid #99D9DE;
    background-color: #91c789;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
    border-radius: 25px; 
    padding: 2%;
}
#opretNyProfil{
    display: flex;
    justify-content:center;
    align-content:center;
    height: 100%;
    border: 3px solid #99D9DE;
    background-color: #91c789;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
    border-radius: 25px; 
    padding: 2%;
}

#navnOgKode{
    font-size: 15px;
    padding: 10%;
    display: flex;
    justify-content:center;
flex-direction: column;
}