body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('header.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}

.theHeader ul li {
    margin-right: 50px;
}

.theHeader a {
    text-decoration: none;
    color: #000;
}

.nutriPicture {
    margin-left: -5px;
}

.nutriPicture img {
    max-width: 40px;
    height: auto;
}

#logo {
    color: #91c789;
    font-size: 35px;
    margin-right: 10px;
}

#boxMealCreator {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh; 
}

#boxMealCreator1 {
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    background-color: white;
    border-style: solid;
    border-color: #99D9DE;
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    flex-direction: column;
}

#mealCreatorHeading {
    font-size: 25px;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mealCreatorHeader{
    display: flex;
    flex-direction: row;
}

#ingredient,
#quantity,
#addIngredientButton {
    margin: 10px ; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

#ingredient,
#quantity {
    width: 200px; 
}

#addIngredientButton {
    background-color: #91C789;
    color: black;
    cursor: pointer;
}

#ingrediensListForMeals {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

#ingrediensListForMeals li {
    margin: 5px 0; 
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.add-to-tracker-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #91C789;
    color: black;
    cursor: pointer;
}

.add-to-tracker-button:hover {
    background-color: #77a77a;
}