body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('header.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.theHeader {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nutriPicture {
    margin-left: -5px;
}

.nutriPicture img {
    max-width: 40px;
    height: auto;
}

.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
    margin-left: 25px;
}

.theHeader ul li {
    margin-right: 50px;
}

.theHeader a {
    text-decoration: none;
    color: #000;
}

#opretForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 3px solid #99D9DE;
    background-color: #91c789;
    border-radius: 25
}