body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-image: url('../images/navbar.png');
    align-items: center;
    width: auto;
}
 
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #000000;
}

#logo {
    color: #91c789; 
    font-size: 35px;
    margin-right: 10px;
}



#activitiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
.activity {
    background: #cae9c5;
    border: 2px solid #99D9DE;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;   
}

#aktivitetstyper {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px; 
}

#almindeligeHverdagsaktiviteterListe,
#sportssaktiviteterListe,
#ForskelligeTyperArbejdeListe,
#dagensAktiviteter {
    background: #91c789;
    padding: 10px;
    border-radius: 8px;
    min-width: 250px; 
    max-height: 550px; 
    overflow-y: auto; 
}

#dagensAktiviteter{
    background:  #99D9DE;
}

ul {
    list-style: none; 
    padding: 0;
}

li {
    margin-bottom: 10px; 
    padding: 5px; 
}

h2 {
    color: #333;
    padding: 5px 0;
}

button {
    padding: 5px 10px;
    margin-left: 10px; 
    background-color:  #99D9DE; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
