body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-image: url('../images/navbar.png');
    align-items: center;
    width: auto;
}
 
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #000000;
}

/* #logo {
    color: #91c789; 
    font-size: 35px;
    margin-right: 10px;
} */



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
       border-radius: 10px;
}

.button-container a {
    text-decoration: none;
    margin: 0 10px;
}

button {
    background-color: #91c789;
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}

button:hover {
    background-color: #DEF6D8;
}

#boxMealCreator {
    background-color: #f5f5f5;
    margin: 60px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
#logo {
    color: #91c789; 
    font-size: 35px;
    margin-right: 10px;
}

#boxTrackedMeals {
    background-color: #91c789;
    margin: 60px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;

}

#mealCreatorHeading {
    margin-bottom: 20px;
    text-align: center;
}