body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-image: url('../images/navbar.png');
    align-items: center;
    width: auto;
}
 
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #000000;
}

#logo {
    color: #91c789; 
    font-size: 35px;
    margin-right: 10px;
}

/*Under header*/

#mealLoggerContainer, #loggedMeals {
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mealLoggerContainer h2 {
    color: #333;
}

#mealLoggerContainer select, 
#mealLoggerContainer input {
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#mealLoggerContainer button {
    background-color:  #91C789;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button{
    background-color:  #91C789;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}