body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-image: url('../images/navbar.png');
    align-items: center;
    width: auto;
}
 
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #000000;
}

#logo {
    color: #91c789; 
    font-size: 35px;
    margin-right: 10px;
}

/*Under header*/

#boxMealCreator {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#ingredientInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#ingredientInput label {
    margin-bottom: 5px;
    font-weight: bold;
}


#ingredientsList {
    list-style-type: none;
    padding: 0;
}

#ingredientsList li, #ingredientsListAlreadyAdded li {
    background-color: #f2fff5; 
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#ingredientsListAlreadyAdded {
    list-style-type: none;
    padding: 0;
}



button{
    background-color:  #91C789;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
