body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-image: url('../images/navbar.png');
    align-items: center;
    width: auto;
}
 
.logo-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.nutriPicture {
    margin-left: -5px;
}

.nutriPicture img {
    max-width: 40px;
    height: auto;
}

.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}

.theHeader ul li {
    margin-right: 50px;
}

.theHeader a {
    text-decoration: none;
    color: #000000;
}

#logo {
    color: #91c789;
    font-size: 35px;
    margin-right: 10px;
}

#boxMealCreator {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 500px; 
}

#boxMealCreator1 {
    background-color: #def6d8;
    display: flex;
    margin: 4% 8%;
    border: 2px solid #99D9DE;
    border-radius: 15px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 200px;
}



#mealCreatorHeading {
    font-size: 25px;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mealCreatorHeader{
    display: flex;
    flex-direction: row;
}

#inputs {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

#inputs input[type="text"],
#inputs input[type="number"],
#inputs button {
    margin: 5px; 
    padding: 10px;
    border-radius: 5px;
}

#inputs input[type="text"],
#inputs input[type="number"] {
    width: 200px; 
}

#inputs button {
    width: auto; 
    background-color: #91C789;
    color: black;
    border: none;
    cursor: pointer;
}

#liquidList {
    position: absolute;
    top: 350px; 
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    text-align: center; 
    background-color: #def6d8;
    display: flex;
    border: 2px solid #99D9DE;
    border-radius: 15px;
    width: 82%;
    flex-direction: column;
    padding: 15px;
    height: auto;
    overflow-y: auto;
    color: #000000;
}

#liquidList li {
    margin-bottom: 5px;
}

#liquidList li {
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    position: relative;
    padding: 8px 45px;
}



.loggedWater{
    border-color: #99D9DE;
    border-radius: 5px;
    background-color: #91C789;
    padding: 5px;
    margin-top: 10px;
    overflow-y: auto;
}

.goBackButton, .deleteButton{
    width: auto; 
    background-color: #91C789;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: black;
    margin: 5px; 
    padding: 10px;
    color: #000000;
}

.deleteButton {
    border-color: #000000;
    border-radius: 5px;
    background-color: #def6d8;
    color: black;
}