body {
    background-color: #DFF0D8;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-color: #91c789; 
    align-items: center;
    padding: 20px;
    width: 100%;
}
 
.logo-container {
    display: flex;
    align-items: center;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #DFF0D8;
}

#logo {
    color: #DFF0D8; 
    font-size: 35px;
    margin-right: 10px;
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
       border-radius: 10px;
}

.button-container a {
    text-decoration: none;
    margin: 0 10px;
}

button {
    background-color: #91c789;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#boxMealCreator {
    background-color: #fff;
    margin: 60px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
#logo {
    color: #DFF0D8; 
    font-size: 35px;
    margin-right: 10px;
}