body {
    background-color: #DFF0D8; /* Changed to the lighter green background */
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theHeader {
    background-color: #91c789; /* Darker green for the header */
    padding: 20px;
    text-align: center;
}

.logo-container #logo {
    color: #fff; /* White color for contrast */
    font-size: 1.5rem;
    font-weight: bold;
}

.theHeader ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.theHeader ul li {
    padding: 0 10px;
}

.theHeader a {
    text-decoration: none;
    color: #fff; /* White color for contrast */
    transition: color 0.3s ease;
}

.theHeader a:hover {
    color: #cae9c5; /* Light green for hover */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-section {
    background-color: #AED9A0; /* Light green for the form backgrounds */
    border: 1px solid #91c789; /* Border color to match the header */
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%; /* Adjusted for a moderate width */
    box-shadow: 0 8px 16px 0 rgba(145,201,137,0.2); /* subtle shadow for depth */
}

h3 {
    color: #fff; /* White color for contrast */
    margin-bottom: 20px;
    text-align: center;
}

.inputGroup {
    margin-bottom: 10px;
    background-color: #DFF0D8; /* Lighter green background for input groups */
    border-radius: 10px;
    padding: 5px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.inputGroup input,
.inputGroup select {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 5px;
    border: 1px solid #91c789; /* Border color to match the header */
    border-radius: 5px;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the width */
}

.submitButton {
    background-color: #91c789; /* Darker green for buttons */
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #cae9c5; /* Light green for hover */
}

#currentProfileDetails {
    color: #333;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

#currentProfileDetails h3 {
    color: #333;
}

#currentProfileDetails p {
    line-height: 1.6;
}
