body {
    background-color: #DFF0D8;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.theHeader {
    display: flex;
    background-color: #91c789; 
    align-items: center;
    padding: 20px;
    width: 100%;
}
 
.logo-container {
    display: flex;
    align-items: center;
}

.nutriPicture {
    margin-left: -5px;
}
 
.nutriPicture img {
    max-width: 40px;
    height: auto;
}

 
.theHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100px;
    align-items: center;
   margin-left: 25px;
}
 
.theHeader ul li {
    margin-right: 50px;
}
 
.theHeader a {
    text-decoration: none;
    color: #DFF0D8;
}

#logo {
    color: #DFF0D8; 
    font-size: 35px;
    margin-right: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-section {
    background-color: #AED9A0; 
    border: 1px solid #91c789; 
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%; 
    box-shadow: 0 8px 16px 0 rgba(145,201,137,0.2);
}

h3 {
    color: #fff; 
    margin-bottom: 20px;
    text-align: center;
}

.inputGroup {
    margin-bottom: 10px;
    background-color: #DFF0D8; 
    border-radius: 10px;
    padding: 5px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.inputGroup input,
.inputGroup select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px;
    border: 1px solid #91c789; 
    border-radius: 5px;
    box-sizing: border-box; 
}

.submitButton {
    background-color: #91c789;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}

.submitButton:hover {
    background-color: #cae9c5; 
}

#currentProfileDetails {
    color: #333;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
}

#currentProfileDetails h3 {
    color: #333;
}

